
.toggle-switch {

	input[type="checkbox"] {
		@apply hidden;

		&:checked + .switch::before {
      @apply translate-x-15 bg-white;
		}

		&:checked + .switch {
      @apply bg-blue;
		}
	}

	.switch {

		&:before {
      @apply bg-white absolute content-[''] left-4 top-4 w-12 h-12 rounded-full transition-all duration-300;
		}
	}
}

.cursor {

  /* // mix-blend-mode: darken; */
  transition: background-color 2s;

  &__text {
    display: block;
    text-align: center;
    position: absolute;
    /* // white-space: nowrap; */
    top: 50%;
    left: 50%;
   
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transform: translate(-50%, -50%) translateY(10px);
    transition: transform 0.25s 0.15s, opacity 0.25s 0.15s;

    .cursor--text & {
      opacity: 1;
      transform: translate(-50%, -50%);
      mix-blend-mode: none;
    }
  }
}

.dot {
	@apply bg-red;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.25s;

  .cursor--text & {
    transform: scale(5);
  }
}

/* CSS */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px; /* Adjust the height to match your design */
}

.marquee {
  display: flex;
  white-space: nowrap;
  position: absolute;
  width: 200%; /* Adjust to fit your content width */
}

.scroll-title {
  padding: 0 20px; /* Adjust the padding to control the space between titles */
  flex: 1;
}


